* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f7f9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  padding: 1.2rem;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

.Board {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.list {
  background-color: #e3e4e8;
  padding: 1rem;
  width: 30%;
  border-radius: 8px;
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.list h2 {
    color: #555;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    
}
