/* basic rest */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: sans-serif;
}

.Container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  position: relative;
}

.screen {
  display: none;
  text-align: center;
  padding: 2rem;
}

.screen.active {
  display: block;
}

/*! Start Screen*/

#start-screen h1 {
  color: #e86a33;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.quiz-header {
  margin-bottom: 30px;
}

#Question-Text {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  color: #666;
  margin-bottom: 10px;
}

.result-screen h1 {
  color: #e86a33;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.result-info {
  background-color: rgb(249, 240, 230);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.result-info p {
  color: #333;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.result-message {
  color: #e86a33;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.restart-btn {
  color: white;
  background-color: #e86a33;
}

button {
  color: white;
  background-color: #e86a33;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1.2rem;
}
#start-screen p {
  color: #666;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

button:hover {
  background-color: #d45b28;
  transform: translateX(5px);
  transition: all 0.2s ease;
}

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.answer-btn {
  background-color: #f8f0e5;
  color: #333;
  border: 2px solid #eadbc8;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
}

.answer-btn:hover {
  background-color: #eadbc8;
  transform: translateX(5px);
  transition: all 0.2s ease;
  border-color: #eadbc8d0;
}
.answer-btn.correct {
  background-color: green;
  color: greenyellow;
  border-color: rgba(0, 128, 77, 0.581);
}

.answer-btn.incorrect {
  background-color: #f5efe6;
  color: red;
  border-color: #eadbc8b9;
}

.progress-bar {
  height: 10px;
  background-color: #eadbc8;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: rgba(255, 4, 0, 0.573);
  transition: width 0.3s ease;
}

/*! Responsive Design */

@media (max-width: 500px) {
  /* when we hit 500px and below, implement the styles below*/
  .screen {
    padding: 1rem;
  }
  .start-screen h1 {
    font-size: 2rem;
  }
}
